body{
  background-color: #e6f5f6;
}

.navul-margin {
  margin-left: 70%;
}

.myactive{
   color: #f4f7f7 !important;
   margin-right:20px;
  margin-left:20px;
}
.mynav{
   background-color: #399ea4 !important;
}

.mynavbar-brand{
   color: #f4f7f7 !important;
}

