a{
  text-align: center;
}

a:hover{
  text-decoration: none;
}

.nav-active{
  text-align:center;
}

body{
  background-color: #e6f5f6;
}

li{
  height: 50px;
  padding-top: 7px;
  padding-bottom: 5px;
}

li:hover{
  background-color:#4CA7AD;
}

.topnav {
  position: relative;
  left:70%;
}

.dsk-ul{
  height: 50px;
}

.myactive{
   color: #f4f7f7 !important;
   margin-right: 25px;
   margin-left: 25px;
}
.mynav{
   background-color: #399ea4 !important;
}

.mynavbar-brand{
   color: #f4f7f7 !important;
}

.my-navitem{
  height: 48px;
}

.topnav {
  position: relative;
}




@media (max-width: 1342px) {

  .li {
    text-align: center;
  }
  
  body{
    background-color:red;
  }

  .topnav {
   position: relative;
   left: 65%;
  }
}



 @media (max-width: 1156px) {

  .li {
    text-align: center;
  }
  
  body{
    background-color:yellow;
  }
   
   .topnav{
      position: absolute;
      left: 60%;
   }
}  
   
   @media (max-width: 991px) {

  .li {
    text-align: center;
  }
  
  body{
    background-color:orange;
  }
      
  .mob-ul{
     margin-left: 250px;
     height: 130px;
  }
     
  .mobile-nav{
    height: 130px: 
 }
     
  .mynavbar-brand{
       position:absolute;
       top: 10%;
       left:10%;
  }
      
  .toggler-position{
      position:absolute;
       left:90%;
       top: 10%;
  }
}


