a {
	text-align: center;
}

a:hover {
	text-decoration: none;
}

.nav-active {
	text-align: center;
}

body {
	background-color: #e6f5f6;
}

li {
	height: 50px;
	padding-top: 7px;
	padding-bottom: 5px;
}

li:hover {
	background-color: #4CA7AD;
}

.topnav {
	position: relative;
	left: 70%;
}

.dsk-ul {
	height: 50px;
}

.myactive {
	color: #f4f7f7 !important;
	margin-right: 25px;
	margin-left: 25px;
}

.mynav {
	background-color: #399ea4 !important;
}

.mynavbar-brand {
	color: #f4f7f7 !important;
}

.my-navitem {
	height: 48px;
}

.mynav {
	min-height: 66px;
}


}


@media (max-width: 1342px) {
	
	body {
		background-color: red;
	}
	
	.topnav {
		position: relative;
    		left: 60%;
	}
	
	.mynav {
		min-height: 66px;
	}
}

@media (max-width: 1156px) {
	
	body {
		background-color: yellow;
	}
	
	.topnav {
		position: relative;
    		left: 60%;
	}
	
	.mynav {
		min-height: 66px;
	}
}


@media (max-width: 991px) {
	li {
		text-align: center;
	}
	
	body {
		background-color: orange;
	}
	
	.topnav {
		background-color: rgb(57, 158, 164);
		text-align: center;
		position: absolute;
		height: 150px;
		width: 100%;
		top: 80%;
		left: 0%;
		display: none;
	}
	
	.mynav {
		min-height: 66px;
	}
	
	.mynavbar-brand {
		position: absolute;
		top: 10%;
		left: 2%;
	}
	
	.toggler-position {
		position: absolute;
		left: 90%;
		top: 10%;
	}
}
